.venv/
.vscode/.venv/
.vscode/
__pycache__/
*.pyc
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db
node_modules/
build/
dist/
env/
*.env
*.csv
*.json
*.xlsx
*.xls
*.xlsm
*.zip
*.rar
*.7z
*.tar
*.gz
*.bz2
*.xz
*.lzma
*.lz4
*.zst
*.tgz
*.tbz2
*.txz
*.tlz
*.lz
*.lzma
*.lz4
*.zst
*.tgz
*.tbz2
*.txz
*.tlz
*.lz
*.egg-info/
*.idea/
*.iml
*.ipynb_checkpoints/
*.gitignore
!.gitignore